<ion-tabs>
    <ion-tab-bar>
        <ion-tab-button tab="listEst">
            <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>

        <!-- Match by "app.speakers" route name -->
        <ion-tab-button tab="listMat">
            <ion-icon name="book-outline"></ion-icon>
        </ion-tab-button>

        <!-- Match by an array of route names -->
        <ion-tab-button tab="listDoc">
            <ion-icon name="person-circle-outline"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>