<ion-header>
    <ion-toolbar>
        <ion-title>Nuevo Estudiante</ion-title>
        <ion-button (click)="closeModal()">
            Cerrar
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #formulario="ngForm" (ngSubmit)="send()">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input [(ngModel)]="data.nombre" name="nombre" type="text" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Apellido</ion-label>
                <ion-input [(ngModel)]="data.apellido" name="apellido" type="text" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input [(ngModel)]="data.email" name="email" type="email" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Telefono</ion-label>
                <ion-input [(ngModel)]="data.telefono" name="telefono" type="tel" required></ion-input>
            </ion-item>
        </ion-list>
        <ion-button expand="full" type="submit" [disabled]="formulario.invalid">
            Crear
        </ion-button>
    </form>
</ion-content>